@font-face {
	font-family: 'Century Gothic';
	src: url('./assets/fonts/Century\ Gothic.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: 'Century Gothic', sans-serif, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
